@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');


html, body {
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0f3;
  margin: 0;
}

#inputNumber{
  border: none;
  outline:none;
  background: none;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 18px;
  text-align: center;
  padding:20px 10px 20px 5px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff
}

.prime {
  text-align: center;
}
.prime h1 {
  font-size: 3.5em;
  font-weight: 800;
  letter-spacing: 0.4em;
  margin-bottom: 1.2em;
}
.label {
  font-size: 1.5em;
}
.result {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 3em;
  justify-content: center;
}
.result p {
  padding: 0.5em;
}
.prime button {
   font-size: 1.5em;
   padding:0.3em 1.2em;
   margin:0 0.1em 0.1em 0;
   border :0.16em solid rgba(255,255,255,0);
   border-radius: 2em;
   color: #FFFFFF;
   background: orange;
   text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
   transition: all 0.2s;
}
.prime button:hover {
   border-color: black;
}


@media screen and (max-device-width: 600px) {
  .prime h1 {
    margin-top: 3em;
    font-size: 1.6em;
    letter-spacing: 0.4em;
  }
  .label {
    font-size: 1.3em;
  }
  .prime h2 {
    font-size: 1.1em;
    font-weight: 600;
  }

  .result {
    padding-left: 2em;
    padding-right: 2em;
  }
  .result p {
    padding: 0.3em;
  }
}